@import url(normalize.css);
@import url(bootstrap/bootstrap.min.css);

.espaco-g {
    height: 18em;
}

.espaco {
    height: 9em;
}

.espaco-p {
    height: 4.5em;
}

.espaco-questao {
    height: 1.25em;
}

.card {
    border: none !important;
    margin: 0 !important;
}

/* .bg-inicio {
    background-image: url(../assets/TELA_INICIO.jpg);
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: top;
    background-color: #9d816b;
} */

.bg-button {
    background-color: #896653;
    color: #000000;
}

.bg-button:hover{
    background-color: #7c5d4c !important;
    color: #000000 !important;
}